<!-- <div class="shortDetails" *ngIf="hero"> -->
<div class="shortDetails" *ngIf="userService.selectedUser">
  <div class="userLogo">
  	<img src="{{ userService.selectedUser.general.avatar }}" alt="avatar" height="128" width="128"/>
  </div>
  <div class="userInfo">
    <div class="userFullName">{{ userService.selectedUser.general.firstName + ' ' + userService.selectedUser.general.lastName }}</div>
    <div class="userJob">{{ userService.selectedUser.job.title + ' ' + userService.selectedUser.job.company }}</div>
  </div>
  <ul class="fullDetails">
		Contacts:
    E-Mail: <li>{{userService.selectedUser.contact.email}}</li>
    Phone: <li>{{userService.selectedUser.contact.phone}}</li>
		Address:
    Street: <li>{{userService.selectedUser.address.street}}</li>
    City: <li>{{userService.selectedUser.address.city}}</li>
    Zip Code: <li>{{userService.selectedUser.address.zipCode}}</li>
    Country: <li>{{userService.selectedUser.address.country}}</li>
  </ul>
</div>
