.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "side-bar user-details";
}

.side-bar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "search-input" "users-list";
  grid-area: side-bar;
}

.user-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "short-details" "full-details";
  grid-area: user-details;
  max-height: 100vh;
}


